<div class="background">
    <div class="wrapper">
        <div class="jumbotron">
            <div class="container">
                <h1>Haml's Core Principles:</h1>
                    <br />
                         <p><h3>1.  Markup Should be Beautiful.</h3>
                            Markup should not be used merely as a tool to get browsers to render a page how the author wants it rendered. The rendering isn’t the only thing people have to see; they have to see, modify, and understand the markup as well. Thus, the markup should be just as user-friendly and pleasant as the rendered result.
                        </p>
                        <p><h3>2.  Markup Should be DRY</h3>
                            HTML involves major repetition. Every element is named twice: once before its content and once after. ERB adds even more repetition and unnecessary characters. HAML avoids all of this by relying on indentation, not text, to determine where elements and blocks of code begin and end. Not only does this result in smaller templates, it makes the code much cleaner to look at.

                         <p><h3>3.  Markup Should be Well-Indented</h3>
                            One of the major problems with ERB is that not only does it not encourage well-indented code, it actively makes it challenging, or even impossible, to write. This leads to confusing, unreadable HTML, when it should be well indented and reflecting the underlying structure of the document. Haml automatically properly formats all tags to that it does.
                        </p>
                        <p><h3>4.  HTML Structure Should be Clear</h3>
                            XML and HTML are formats built upon the idea of a structured document. That structure is reflected in their markup, and it should likewise be reflected in meta-markup such as Haml Because Haml’s logic is based on indentation of child elements, this structure is naturally preserved, making the document much easier and more logical for mere humans to read.
                        </p>
            </div>  
        </div>
    </div>
</div>

<!-- .background
  .wrapper
    .jumbotron
      .container
        %h1 Haml's Core Principles:
        %br/
        %p
        %h3 1.  Markup Should be Beautiful.
        Markup should not be used merely as a tool to get browsers to render a page how the author wants it rendered. The rendering isn’t the only thing people have to see; they have to see, modify, and understand the markup as well. Thus, the markup should be just as user-friendly and pleasant as the rendered result.
        %p
        %h3 2.  Markup Should be DRY
        HTML involves major repetition. Every element is named twice: once before its content and once after. ERB adds even more repetition and unnecessary characters. HAML avoids all of this by relying on indentation, not text, to determine where elements and blocks of code begin and end. Not only does this result in smaller templates, it makes the code much cleaner to look at.
        %p
        %h3 3.  Markup Should be Well-Indented
        One of the major problems with ERB is that not only does it not encourage well-indented code, it actively makes it challenging, or even impossible, to write. This leads to confusing, unreadable HTML, when it should be well indented and reflecting the underlying structure of the document. Haml automatically properly formats all tags to that it does.
        %p
        %h3 4.  HTML Structure Should be Clear
        XML and HTML are formats built upon the idea of a structured document. That structure is reflected in their markup, and it should likewise be reflected in meta-markup such as Haml Because Haml’s logic is based on indentation of child elements, this structure is naturally preserved, making the document much easier and more logical for mere humans to read.
 -->



